<h2>Welcome to WizeRank</h2>
<style type="text/css" media="screen">
    #editor { 
        position: relative;
        width: 50%;
        height: 400px;
    }
    .output{
	font-family: monospace;
	white-space: pre-line;
	border:1px solid #ccc;
	background: #eee;
	min-height: 50px;
}
</style>

<input class="btn btn-primary" id='run' type="button" onClick="run()" value="RUN"/>
Choose language:
<select id="lang-select">
    <% @lang.each do |lang|%>
        <option value="<%= lang[:id]%>"><%= lang[:name]%></option>
    <% end %>
</select>
<div id="editor">def do_something
    puts 'Hello World!'
end
</div>
<p id="testsoutput" class="output">Output of all tests appear here<br><br>
</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/ruby");

    function run(){
        lang_id = $('#lang-select').val();
        res = { data: editor.getValue(), lang_id: lang_id};
        console.log(res);
        
        $.post('/home/run/', res ,function(data){
            console.log(data);
            console.log(data.stderr);
            $('#testsoutput').append("<b>"+ data.stdout + "</b>" + "</br>" + data.stderr + "</br>");
        })
    }
    $(document).ready(function(){
        $('#lang-select').on('change', function(){
            //Switch lang
            $.get('/home/switch_lang/' + this.value, function(data){
                console.log(data);
                editor.session.setMode("ace/mode/" + data.name.toLowerCase());
                editor.setValue(data.header, -1);
            })
        })
    });
</script>
