<h2>Welcome to WizeRank</h2>
<style type="text/css" media="screen">
    #editor { 
        position: relative;
        width: 50%;
        height: 400px;
    }
    .output{
	font-family: monospace;
	white-space: pre-line;
	border:1px solid #ccc;
	background: #eee;
	min-height: 50px;
}
</style>

<input class="btn btn-primary" id='run' type="button" onClick="run()" value="RUN"/>
Choose language:
<select id="lang-select">
    <option value="1">Java</option>
    <option value="2">Ruby</option>
</select>

<div id="editor">import java.io.*;

class Main {
  public static void main (String[] args) {
    System.out.println("Hello Java");
  }
}
</div>
<p id="testsoutput" class="output">Output of all tests appear here<br><br>
</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/java");

    function run(){
        res = { data: editor.getValue(), lang_id: "1"};
        $.post('/home/run/', res ,function(data){
            console.log(data);
            console.log(data.stderr);
            $('#testsoutput').append("<b>"+ data.stdout + "</b>" + "</br>" + data.stderr + "</br>");
        })
    }
    $(document).ready(function(){
        $('#lang-select').on('change', function(){
            //Switch lang
            $.get('/home/switch_lang/' + this.value, function(data){
                editor.session.setMode("ace/mode/" + data.name);
                editor.setValue(data.header, -1);
            })
        })
    });
</script>
